<!DOCTYPE html>
<html ng-app="tennisApp">
<head>
<title>Java EE 7 - Websocket - AngularJS - Wildfly 8 - OpenShit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/flags.css">

<style type="text/css">
.sets {
	background-color: #ccc;
}

.serve {
	color: black;
	background-color: yellow;
}
.th {
 text-align: center;
 
}
</style>

</head>
<body  ng-app="tennisApp" ng-controller="TournamentCtrl">
	<div class="container">
		<h2>Tennis Game Tournament - Java EE 7 - Java API for Websocket - AngularJS</h2>
		<p class="lead">AngularJS HTML5 app sample to illustrate the new Java API
			for WebSocket (JSR 356).</p>
		<p>
			<a href="https://github.com/mgreau/javaee7-websocket" target="github">Fork it on Github.</a>
	        or 
	        <a href="http://mgreau.com/posts/2013/11/11/javaee7-websocket-angularjs-wildfly.html" target="blog">Read the blog post.</a>	
	        or <a href="https://twitter.com/mgreau" target="twitter">follow me on twitter : @mgreau</a>
		</p>
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" ng-repeat="live in lives">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span>{{live.title}}</span>&nbsp;&nbsp;
							<button class="btn btn-default active btn-xs" ng-show="live.status == 'CONNECTED'" ng-click="disconnect(live.key)" >
							<span class="glyphicon glyphicon-off"></span> Exit.</button>
					</div>
					<div class="panel-body" >
						<!-- Message de fin -->
						 <msg ng-show="live.match.finished == true" 
							 		message="live.bet" winner="live.winner"></msg>

					 	<!-- DISCONNECT TABLE -->
						<table class="table" ng-show="live.status == 'DISCONNECTED'">
							<thead>
								<tr>
									<th colspan="4">
									Game in progress... 
									<button class="btn btn-warning active btn-xs" ng-click="connect(live.key)" >
									<span class="glyphicon glyphicon-power"></span>click to access live scores</button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img  alt="{{live.p1}}" src="img/{{splitForImage(live.p1,0)}}.jpg"></td>
			 						 <td>{{live.p1}} <img src="img/blank.gif" class="flag flag-{{live.p1c}}" />
			 						 </td>
			 						 <td><img  alt="{{live.p2}}" src="img/{{splitForImage(live.p2,0)}}.jpg"></td>
			 						 <td>{{live.p2}} <img src="img/blank.gif" class="flag flag-{{live.p2c}}" /></td>
								</tr>
							</tbody>
						</table>
						<!-- LIVE MODE -->
						<bet ng-show="live.status == 'CONNECTED'" bet="live.bet" key="live.key"></bet> <!-- Bets Message de fin -->
				    	<match ng-show="live.status == 'CONNECTED'" match="live.match" key="live.key"></match>	<!-- Match live mode -->
					    </table>
					</div>	
					<div class="panel-footer" >
						<!-- LIVE MODE COMMENTS -->
						<div class="thumbnail" ng-show="live.status == 'CONNECTED'">
							<div class="media">
								<textarea style="font-size: 11px; background-color: #e5e5e5;"
								 cols="55" rows="4">{{live.match.comments}}</textarea>
							</div>
						</div>
						<!-- WS CONNECTION STATUS -->
						<div><em>Connection status : </em><span class="label label-info">{{live.status}}</span></div>
					</div>	
				</div>
			</div>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
	<script src="js/live/app.js"></script>
	<script src="js/live/services.js"></script>
	<script src="js/live/controllers.js"></script>
	<script src="js/live/directives.js"></script>
</body>
</html>