<!DOCTYPE html>
<html ng-app="tennisApp">
<head>
<title>Java EE 7 - Websocket - Wildfly 8 - OpenShit</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/flags.css">

<style type="text/css">
.sets {
	background-color: #ccc;
}

.serve {
	color: black;
	background-color: yellow;
}
.th {
 text-align: center;
 
}
</style>

</head>
<body>
	<div class="container" ng-controller="TournamentCtrl">
		<h2>Tennis Game Tournament - Java API for Websocket - AngularJS</h2>
		<p class="lead">AngularJS HTML5 app sample to illustrate the new Java API
			for WebSocket (JSR 356).</p>
		<div class="row">
			<div class="col-xs-6 col-md-6" ng-repeat="match in matches">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<span id="m1-title">{{match.title}}</span>&nbsp;&nbsp;<button class="btn btn-default active btn-xs" ng-show="isOpen(match.key)" ng-click="disconnect(match.key)" >
						<span class="glyphicon glyphicon-off"></span> Exit.</button>
					</div>
					<div class="panel-body" >
						
						<!-- DISCONNECT TABLE -->
						<table class="table" ng-show="noMessage(match.key)">
							<thead>
								<tr>
									<th colspan="4">
									Game in progress... 
									<button class="btn btn-warning active btn-xs" ng-show="isClosed(match.key)" ng-click="connect(match.key)" >
									<span class="glyphicon glyphicon-power"></span>click to access live scores</button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><img  alt=" {{match.playerOneName}}" src="img/{{splitForImage(match.playerOneName,0)}}.jpg"></td>
			 						 <td>{{match.playerOneName}} 
			 						 	<img src="img/blank.gif" class="flag flag-es" />
			 						 </td>
			 						 <td><img  alt=" {{match.playerTwoName}}" src="img/{{splitForImage(match.playerTwoName,0)}}.jpg"></td>
			 						 <td>{{match.playerTwoName}} <img src="img/blank.gif" class="flag flag-fr" /></td>
								</tr>
							</tbody>
						</table>
					
						<!-- LIVE MODE TABLE -->
						<table class="table" ng-show="noMessage(match.key) == false">
							<thead>
								<tr>
									<th colspan="3" align="center">
										<span ng-show="isBet(match.key) == false">Bet on the Winner !</span>
										<span ng-show="isBet(match.key)">You bet on <span class="label label-info">{{lives[match.key].betOn}}</span> as the Winner !</span>
									</th>
									<th><small>PTS</small></th>
									<th><small>G.</small></th>
									<th colspan="3" align="center"><small><em>Finished Sets</em></small></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="player in lives[match.key].players">
									<td>
									<img  alt=" {{player.name}}" src="img/{{splitForImage(player.name,0)}}.jpg"></td>
									<td> {{player.name}} <br/><img src="img/blank.gif" class="flag flag-es" /></td>
									<td> 
										<input name="bet" type="radio" ng-show="isBet(match.key) == false" ng-click="betOnWinner(match.key, player.name)" >
										<span ng-show="isBetOnHim(match.key, player.name)" class="glyphicon glyphicon-star"></span>
									</td>
			 						 <td class="active"><h5><span 
										class="label label-danger">{{player.points}}</span></h5>
										<span class="badge serve" ng-show="player.name == lives[match.key].serve">S</span>
										</td>
									<td><h4><span
										class="label label-warning">{{player.games}}</span></h4></td>
									<td class="sets"><span
										class="label label-default">{{player.set1}}</span></td>
									<td class="sets"><span 
										class="label label-default">{{player.set2}}</span></td>
									<td class="sets"><span 
										class="label label-default">{{player.set3}}</span></td>
								</tr>
							</tbody>
						</table>
					</div> 
					<div class="panel-footer" >
						<!-- LIVE MODE COMMENTS -->
						<div class="thumbnail" ng-show="isOpen(match.key)">
							<div class="media">
								<textarea style="font-size: 11px; background-color: #e5e5e5;"
								 cols="45" rows="4">{{lives[match.key].comments}}</textarea>
							</div>
						</div>
						<!-- WS CONNECTION STATUS -->
						<div><em>Connection status : </em><span class="label label-info">{{getStatus(match.key)}}</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
	<script src="js/matches/app.js"></script>
	<script src="js/matches/services.js"></script>
	<script src="js/matches/controllers.js"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	
	  ga('create', 'UA-43902707-1', 'wildfly-mgreau.rhcloud.com');
	  ga('send', 'pageview');
	
	</script>
</body>
</html>